* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

header {
    padding-top: 58px;
    padding-bottom: 20px;
    background-color: #1F2732CF;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.btn {
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    padding: 24px 71px;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
    /* 160% */
    letter-spacing: 0.4px;

}

.bg-img {
    background-image: url("./IMAGE\ \(9\).png");


    background-repeat: no-repeat;
    background-size: contain;


}

.list {
    margin-bottom: 41px;
}

.main-div {
    display: flex;
    justify-content: space-between;
    border: solid 1px;
    border-left: none;
    border-right: none;
    padding-top: 33px;
    padding-bottom: 35px;
    border-color: #4E555F;
}

.div-list {
    display: flex;
    list-style: none;
    gap: 46px;
    text-decoration: none;

}

.div-list a {
    text-decoration: none;
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
    /* 160% */
    letter-spacing: 0.4px;
}

.div-list a:hover {
    color: #D1B06B;
    transition: 0.3s;
}

.head-div-1 {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;

}

.mini-list {
    color: #D1B06B;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    /* 160% */
    letter-spacing: 0.4px;
}

.number {
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px;
    /* 120% */
    letter-spacing: 0.4px;
}

.div-list-2 {
    list-style: none;
}

.main-div-2 {
    display: flex;
    gap: 50px;
}

.Start {
    padding-top: 20px;
    background-color: #1F2732CF;


}

.title {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 78px;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 21px;
}

.text {
    color: #D1B06B;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.6px;
    /* 180% */
    letter-spacing: 0.4px;
    margin-bottom: 28px;
}

.start-btn {
    color: #1F2732;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
    /* 160% */
    letter-spacing: 0.4px;
    border: 1px solid #D1B06B;
    background: #D1B06B;
    padding: 25px 71px;
}

.info {
    background-color: #1F2732;
    padding-top: 140px;
    padding-bottom: 170px;
}

.info-img {
    display: flex;
    gap: 30px;
}

.info-title {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 58.5px;
    /* 130% */
    letter-spacing: 0.4px;
    text-transform: capitalize;

}

.info-text {
    color: #D7D7D7;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.4px;
    margin-top: 98px;
    margin-bottom: 32px;
}

.texbox-info {
    margin-left: 60px;
}

.main-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mini-img {
    margin-bottom: 45px;
}

.end {
    background-color: #1F2732;
    padding-top: 171px;
    padding-bottom: 240px;
}

.mini-end {
    width: 440px;
    display: flex;
    flex-direction: column;
}

.end-img {
    padding-bottom: 70px;
    border: solid 1px #4E555F;
    border-left: none;
    border-right: none;
    border-top: none;
}

.end-title {
    padding-top: 26px;
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /* 130% */
    letter-spacing: 0.4px;
}

.end-text {
    padding-top: 22px;
    color: #D7D7D7;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.4px;
}

.end-a {
    color: #D1B06B;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.2px;
    /* 160% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-top: 17px;
}

.end-wrapper {
    display: flex;
    gap: 20px;
}

.end-main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.name {
    padding-top: 131px;

    background: #FFF;
}

.name-title {
    text-align: center;
    color: #161D27;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    /* 120% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-bottom: 11px;
}

.name-mini-img {
    width: 95px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 600px;
    margin-bottom: 70px;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 131px;

}

.name-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-text {
    color: #161D27;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /* 130% */
    letter-spacing: 0.4px;
    margin-bottom: 7px;
    margin-top: 20px;
}

.name-a {
    color: #D1B06B;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.4px;
    text-decoration: none;
}

.b-img {
    width: 100%;
    position: relative;
    top: 120px;
}

footer {
    background-color: #1F2732;
    padding-top: 131px;
    padding-bottom: 260px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    width: 350px;

}

.f-title {
    padding-top: 21px;
    padding-bottom: 21px;
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    /* 130% */
    letter-spacing: 0.4px;
    border: solid 1px #4E555F;
    border-left: none;
    border-right: none;
}

.f-list {
    list-style: none;
    display: flex;
    gap: 127px;
    margin-top: 40px;
}

.f-list li {
    color: #D7D7D7;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.footer-div-mini {
    display: flex;
    flex-direction: column;

}

.wrapper-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
}